<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>register page</h1>
<form action="register" method="post">
<label>User Name:</label>
<input type="text" name="username"/><br>
<label>Email</label>
<input type="email" name="email"/><br>
<label>password</label>
<input type="password" name="password"/><br>
<label>Gender</label>
<input type="radio" name="gender" value="male"/>male
<input type="radio" name="gender" value="female"/>female<br>
<label>Role</label>
<input type="radio" name="role" value="admin"/>admin
<input type="radio" name="role" value="customer"/>customer<br>

<label>Address</label>
<textarea name="address"></textarea><br>

<input type="submit" value="Register"/>
</form>
</body>
</html>